@model BeatonaApi.Models.Provider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProviderNEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderNEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderNAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderNAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
